.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.bunrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
.env
.env.*
**/.env
**/.env.*
